@font-face {
  font-family: Albertnorm;
  src: url(../assets/fonts/Albert_Sans/static/AlbertSans-Medium.ttf);
}

@font-face {
  font-family: Albertbold;
  src: url(../assets/fonts/Albert_Sans/static/AlbertSans-Bold.ttf);
}

@font-face {
  font-family: Albertboldlight;
  src: url(../assets/fonts/Albert_Sans/static/AlbertSans-SemiBold.ttf);
}

@font-face {
  font-family: AlbertLight;
  src: url(../assets/fonts/Albert_Sans/static/AlbertSans-Regular.ttf);
}
